.card_list {
    height: auto;
    width: 400px;
    background-color: transparent;
    margin-top: 10px;
    border-radius: 10px;
}

.card_main_div {
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
    margin: 30px;
}

.img_section {
    width: 380px;
    height: 200px;
}

.img_section img {
    width: 340px;
    height: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}